<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ntu.cmq.mapper.StuTestMapper">
    <insert id="addStuTest" useGeneratedKeys="true" keyProperty="id">
        insert into student_test (test_id,student_id,content,teach_id)
        values (#{testId},#{studentId},#{content},#{teachId});
    </insert>
    <update id="updateScore">
        update student_test set score=#{score} where id=#{id};
    </update>
</mapper>