<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ntu.cmq.mapper.TestMapper">
    <select id="getById" resultType="com.ntu.cmq.model.Test">
        select * from test where id=#{id};
    </select>
    <select id="getByTeach" resultType="com.ntu.cmq.model.Test">
        select * from test where teach_id=#{teachId};
    </select>
    <select id="getByTeachAndStu" resultType="com.ntu.cmq.model.Test">
        select * from test where teach_id=#{t} and student_id=#{s};
    </select>
    <insert id="addTest" keyProperty="id" useGeneratedKeys="true">
        insert into test (teach_id,content,time)
        values (#{teachId},#{content},#{time});
    </insert>
    <update id="updateTest">
        update test set content=#{content} where id=#{id};
    </update>
    <delete id="delTest">
        delete from test where id=#{id};
    </delete>
</mapper>