<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ntu.cmq.mapper.UserMapper">
    <select id="getByUsername" resultType="com.ntu.cmq.model.User">
        select username,password from user where username=#{username};
    </select>
    <select id="getById" resultType="com.ntu.cmq.model.User">
        select * from user where id=#{id};
    </select>
    <insert id="insertUser" useGeneratedKeys="true" keyProperty="id">
        insert into user (username,password,status) values (#{username},#{password},#{status});
    </insert>
    <update id="updateUser">
        update user set password=#{password} where id=#{id};
    </update>
</mapper>