<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ntu.cmq.mapper.WorkMapper">
    <select id="getByTeach" resultType="com.ntu.cmq.model.dto.WorkDto">
        select * from work where teach_id=#{teach_id};
    </select>
    <insert id="addWork" useGeneratedKeys="true" keyProperty="id">
        insert into work (teach_id,content)
        values (#{teachId},#{content});
    </insert>
</mapper>